<!doctype html>
<html lang="vi">
	<head> 
		<meta charset="utf-8"> </meta>
		<meta name ="author" content="">
		<meta name ="description" content =" london TOURIST">
		<meta name ="keywords" content ="london TOURIST">
		<title> london TOURIST</title>
		<link rel="stylesheet" type ="text/css" href="../css/style.css" >
		<link rel="shortcut icon" type ="image/x-icon" href="../image/luat.jpg">
	</head>
	<body>
		<header class="grid-full">
			<section id="top-header" class="grid-full"> 
				<div style="wrapper">
					<span>Wellcome Thomas.</span>
					<a href="">[Manage Account]</a>
					<div class="right">
						<a href="" class="sign-out-left">Sign Out</a>
						<div class="menu">
							<div class="show-menu">
								<i></i>
								<i></i>
								<i></i>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="banner" class="grid-full">
				<div class="wrapper">
					<ul class="grid-5 alpha">
						<li><a href=""> Categories </a></li>
						<li><a href="" class="active"> Top Products </a></li>
						<li><a href=""> Cart </a></li>
					</ul>
					<div class="logo grid-2">
						<a href="">
						<img src="../image/logo.png" alt="logo" />
						<span>ImanageStore</span>
						</a>
					</div>
					<div class="search-box grid-5 omega">
						<form>
							<input type="text" placeholder="serach every think Store" />
							<input type="submit" value="search" />
						</form>
					</div>
				</div>
			</section>
		</header>
		
		<!--phan 2 -->
		<div class="breadcrums grid-full">
			<div class="wrapper">
				<div class="breadcrum grid-9 alpha">
					<ul>
						<li><a href="">Top Products</a></li>
						<li><span>/</span></li>
						<li><a href="">This week</a></li>
						<li><span>/</span></li>
						<li><a href="">disc</a></li>
						<li><span>/</span></li>
						<li><a href="">Pach</a></li>
					</ul>
					<span class="large-title">
					J.S.Bach Top 25 Collections
					</span>
				</div>
				<div class="add-to-cart grid-3 omega">
						<input type="button" value="Add to Cart" />
						<span>In stock. Estimated Delivery in 5 days</span>
				</div>
			</div>
		</div>
		<div class="content frid-full" >
			<div class="wrapper">
				<div class="left-content grid-9 alpha">
					<h2 class="discount grid-full">
						<span>Limited Discount: </span>
						<span class="saleoff"> $ 24.99</span>
						<span>$ 19.99 </span>
					</h2>
					<article id="main-article"> 
						<div class="disc-cover flip">
							<div class="rotate y">
								<div class="front">
									<img src="../image/disc-cover.png" alt="disc-cover" />
									<i class="container-on-sale">
										<span>On Sale</span>
									</i>
								</div>
								<div class="behide">
									<img src="../image/disc-cover.png" alt="disc-cover" />
									<div class="album-content">
										<h3>J.S.Bach-Top 25 Collection</h3>
										<ol>
											<li>Violin concerto in A Minor</li>
											<li>Chirstmas oratorio</li>
											<li>Jesu Joy of Man's Desiring</li>
											<li>Suite No. 3 in D major</li>
										</ol>
									</div>
									
								</div>
							</div>
						</div>
						<p>
							Lorem ipsum dolor sit amet,consectetur adipiscing elit.nullam id diam metus.Duis tellus augue,malesuada ac lacinia eu,fauibus quis sem.Morbi at metus nisi,at facilisis sem.Nullam sit amet orci lorem.Aenean blandit tellus a ante malesuada ut malesuada lectus tristique.Suspandisse potenti.Donec urna quam, tempor ut dignissim sed,laoreet quis eros.In hac habitasse platea dictust.Nunc tempus,risus non viverra ultrices.nisl rus urnaretellus,ut scelerisque nunc sem non turpis.Phasellus dictum interdum enim, non viverra odio pharetra id.Duit molestie purus.Morbi lectus lectus,ultricies econgue et,posuere id felis.Fusce elementum fel lacinia mi convallis venenatis.Donec molest.Donec ie tec mpor ligula,qius euismod ipsum posuere a.Donec id merat,at volutpat massa.Suspendisse tempor,massa eget venenatis malesuada,ipsum turpis suscipic risus ,id fermentum dui purus eget nisi.
						</p>
					</article>
					<h2 class="left-title grid-full"> Previews</h2>
					<div class="previews grid-full">
						<div class="preview grid-6 alpha">
							<div class="content-preview">
								<div class="anchor">Preview</div>
								<div class="icon">
									<div class="triangle">	</div>
								</div>
								<div class="right-content">
									<span>Violin concerto in a minor </span>
									<span>Duration 3:50 </span>
								</div>
							</div>
						</div>
						<div class="preview grid-6 alpha">
							<div class="content-preview">
								<div class="anchor">Preview</div>
								<div class="icon">
									<div class="triangle">	</div>
								</div>
								<div class="right-content">
									<span>Violin concerto in a minor </span>
									<span>Duration 3:50 </span>
								</div>
							</div>
						</div>
						<div class="preview grid-6 alpha">
							<div class="content-preview">
								<div class="anchor">Preview</div>
								<div class="icon">
									<div class="triangle">	</div>
								</div>
								<div class="right-content">
									<span>Violin concerto in a minor </span>
									<span>Duration 3:50 </span>
								</div>
							</div>
						</div>
						<div class="preview grid-6 alpha">
							<div class="content-preview">
								<div class="anchor">Preview</div>
								<div class="icon">
									<div class="triangle">	</div>
								</div>
								<div class="right-content">
									<span>Violin concerto in a minor </span>
									<span>Duration 3:50 </span>
								</div>
							</div>
						</div>
					</div>
					<h2 class="top-reviews"> Top Reviews </h2>
					<div class="top-reviews grid-full">
						<div class="top-review grid-full">
							<i>&#8220;</i>
							<div class="review-content">
								<p> Master! The must have music you cold's miss  </p>
								<span> -SH.MakM</span>
							</div>
						</div>
						<div class="top-review grid-full">
							<i>&#8220;</i>
							<div class="review-content">
								<p> Buy it now and you would not regrad  </p>
								<span> -SH.MakM</span>
							</div>
						</div>
					</div>
				</div>
				<div class="right-content grid-3 omega">
					<div class="right-item">
						<h3 class="right-title">
							About J.S Bach
						</h3>
						<div class="grid-full">
							<p class="about-article">
								Nullam sit a met orci Lorem.aenean blandit tellus a ante malesusda ut malesuada lectus tristique.Suspendisse potenti.Donec urna quam,tempor ut dignissim sed,Laoreet quis ut eros.In hc hanitasse platea dictumst.Nunc tempus,risus non viverra ultrices,nisl purus ornare tellus.
							</p>
						</div>
					</div>
					<div class="right-content">
						<h3 class="right-title"> Recomment </h3>
						<div class="grid-full">
							<div class="album-item grid-6 alpha">
								<div class="disc-cover flip">
									<div class="rotate y">
										<div class="front">
											<img src="../image/disc-cover.png" alt="disc-cover" />
										</div>
										<div class="behide">
											<img src="../image/disc-cover.png" alt="disc-cover" />
											<div class="album-content">
												<h3>J.S.Bach-Top 25 Collection</h3>
												<ol>
													<li>Violin concerto in A Minor</li>
													<li>Chirstmas oratorio</li>
													<li>Jesu Joy of Man's Desiring</li>
													<li>Suite No. 3 in D major</li>
												</ol>
												<input type="button" value="Go to Album" />
											</div>
										</div>
									</div>
								</div>
								<div class="album-item-title">
									Bach Gold Colection T-Shirt
								</div>
							</div>
							<div class="album-item grid-6 alpha">
								<div class="disc-cover flip">
									<div class="rotate y">
										<div class="front">
											<img src="../image/disc-cover.png" alt="disc-cover" />
										</div>
										<div class="behide">
											<img src="../image/disc-cover.png" alt="disc-cover" />
											<div class="album-content">
												<h3>J.S.Bach-Top 25 Collection</h3>
												<ol>
													<li>Violin concerto in A Minor</li>
													<li>Chirstmas oratorio</li>
													<li>Jesu Joy of Man's Desiring</li>
													<li>Suite No. 3 in D major</li>
												</ol>
												<input type="button" value="Go to Album" />
											</div>
										</div>
									</div>
								</div>
								<div class="album-item-title">
									Bach Gold Colection T-Shirt
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="bottom-menu grid-full" >
			<ul class="grid-12">
				<li>
					<span class="totop-icon"></span>
					<span class="totop-icon last-child"></span>
					<a href="" class="totop">Back to top</a>
				</li>
				<li><a href=""> Categories</a></li>
				<li><a href=""> Top Products</a></li>
				<li><a href=""> Carts</a></li>
				<li><a href=""> Your Account</a></li>
				<li class="search-bt-menu">
					<input type="text" placeholder="search in store" />
					<input type="submit" value="go" />
				</li>
			</ul>
		</nav>
	</body>
</html>